/* Style du conteneur du formulaire */
.form-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Style des titres */
.form-container h3 {
    font-size: 24px;
    margin-bottom: 20px;
}

/* Style des champs de saisie */
.form-container input[type="text"],
.form-container input[type="number"],
.form-container input[type="datetime-local"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Style du bouton */
.form-container button[name="return"],
.form-container input[type="submit"] {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.form-container button[name="return"]:hover,
.form-container input[type="submit"]:hover {
    background-color: #0056b3;
}

/* Style du label */
label[for="mangas[]"] {
    display: block; /* Afficher le label sur une nouvelle ligne */
    margin-top: 10px; /* Marge supérieure pour l'espacement */
    font-weight: bold; /* Texte en gras */
    font-size: 16px; /* Taille de la police */
    color: #333; /* Couleur du texte */
}

/* Style de la liste déroulante multisélection */
select[name="mangas[]"] {
    width: 100%; /* Largeur à 100% de son contenant */
    height: 150px; /* Hauteur de la liste déroulante (ajustez selon vos besoins) */
    padding: 10px; /* Remplissage interne pour l'espacement à l'intérieur de la liste déroulante */
    border: 1px solid #ccc; /* Bordure de 1 pixel avec une couleur grise */
    border-radius: 5px; /* Coins arrondis */
    font-size: 14px; /* Taille de la police */
    color: #333; /* Couleur du texte */
    background-color: #fff; /* Couleur de fond blanche */
}

/* Style des options de la liste déroulante multisélection */
select[name="mangas[]"] option {
    padding: 5px; /* Remplissage interne pour l'espacement des options */
}



